* {
  font-family: 'Montserrat', sans-serif;
}

.attribution-link {
  color: #0a0f24;
  -webkit-box-shadow: inset 0 -1px 0 0 #347ab8;
          box-shadow: inset 0 -1px 0 0 #347ab8;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.attribution-link:hover {
  color: #fff;
  -webkit-box-shadow: inset 0 -2rem 0 0 #347ab8;
          box-shadow: inset 0 -2rem 0 0 #347ab8;
}

header {
  height: auto;
  max-height: 19rem;
}

@media (min-width: 700px) {
  header img {
    margin-top: -23%;
  }
}

@media (min-width: 720px) {
  .competitions-wrapper {
    max-width: 43.75rem !important;
  }
}

.competitions-wrapper .competition {
  min-height: 8.7rem;
}

@media (min-width: 570px) {
  .competitions-wrapper .competition {
    max-width: 48%;
  }
}

.details-wrapper {
  font-family: 'Poppins', sans-serif;
  max-width: 43.75rem;
  width: 100%;
}

.details-wrapper .home-link {
  color: #292a2a;
  -webkit-box-shadow: inset 0 -2px 0 0 #347ab8;
          box-shadow: inset 0 -2px 0 0 #347ab8;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.details-wrapper .home-link:hover {
  color: #fff;
  -webkit-box-shadow: inset 0 -3rem 0 0 #347ab8;
          box-shadow: inset 0 -3rem 0 0 #347ab8;
}

.details-wrapper .tabs-header .tab-title {
  height: 100%;
}

.details-wrapper .tabs-header .tab-title::before {
  content: '';
  position: absolute;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 0;
  margin: auto;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.details-wrapper .tabs-header .tab-title:hover {
  cursor: pointer;
}

.details-wrapper .tabs-header .tab-title:hover::before {
  background: #c7c7c7;
  width: 50%;
}

.details-wrapper .tabs-header .tab-title.active::before {
  content: '';
  width: 100%;
}

.details-wrapper .tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.details-wrapper .tabs .tab-info {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 0rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.details-wrapper .tabs .tab-info.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.loading-container {
  min-height: 400px;
}

.loading-container .loading-wrapper .ripples div {
  -webkit-animation: ripples 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: ripples 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading-container .loading-wrapper .ripples div:first-child {
  border-color: #93dbe9;
}

.loading-container .loading-wrapper .ripples div:nth-child(2) {
  border-color: #689cc5;
  -webkit-animation-delay: -.5s;
          animation-delay: -.5s;
}

@-webkit-keyframes ripples {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripples {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */